﻿body
{
	margin: 0px;
	padding: 0px;
	font-family:Open Sans;
}

@font-face {
	font-family:Open Sans;
	src: url(../../font/OpenSans-Regular.ttf);
}
@font-face {
	font-family:Arimo;
	src: url(../../font/Arimo-Regular_0.ttf);
}
/*-----------------------------------------Scroller-----------------------------------------*/
#bottom{ margin-top: 0px 0 0 0;}
#top a, #bottom a{color: red; font-size: 17px; }
.scrollertop{z-index: 100; margin-top:190px; left:48%; position:relative;}
.scrollerbottom{float: right; right:0px; z-index: 100; position: relative; margin-top:0px;}

/*-----------------------------------------Common Css-----------------------------------------*/
.space{ margin-top:10px;}
.space1{ margin-top:20px;}
.space2{ margin-top:30px;}
.space3{ margin-top:40px;}
.space4{ margin-top:50px;}
.width{ width:100%;}
.max{ max-width:100%;}
.left{ float:left;}
.right{ float:right;}
.display{ display:inline-block; width:100%;}
.padding{ padding:0px !important;}

/*-----------------------------------------Header-----------------------------------------*/
.login{ margin-top:30px;}
.login a{ background-color:#222b7b; font-family:Arimo; font-size:14px; color:#fff; font-weight:600; text-transform:uppercase; letter-spacing:1px; padding:10px 15px; border-radius:3px;}
.login a:hover{ background-color:#e9a400;}
.txt1{ color:#222b7b; font-size:20px; font-family:Arimo; font-weight:bold; letter-spacing:1px; text-align:left;}
.txt2{ color:#000; font-size:36px; font-family:Arimo; font-weight:bold; letter-spacing:1px; text-align:left; margin-top:-3px;}
.txt3{ color:#504d4d; font-size:13px; font-family:Arimo; letter-spacing:1px; text-align:left; margin-top:5px; line-height:1.7;}
.readbtn{ margin-top:15px;}
.readbtn a{ background-color:#e9a400; font-family:Arimo; font-size:12px; color:#fff; font-weight:bold; letter-spacing:1px; padding:5px 5px; border-radius:3px;}
.readbtn a:hover{ background-color:#222b7b;}
.dividerbor{ border-bottom:1px solid #ddd; margin:25px 0 15px 0;}
.cusdiv{ text-align:left; margin-top:0px;}
.cusdiv ul{ margin:0px; padding:0px; line-height:1.9; list-style:none;}
.cusdiv ul li{color:#504d4d; font-size:13px; font-family:Arimo; letter-spacing:1px;}
.cusdiv ul li:before{content:'➜'; color:#e9a400; margin-right:8px; font-size:18px;}
.txt4{ color:#000; font-size:36px; font-family:Arimo; font-weight:bold; letter-spacing:1px; text-align:left; margin-top:0px;}
.box1{ background-color:#222b7b; height:150px; border-radius:3px; padding:5px 10px; margin-top:20px;}
.txt5{ color:#fff; font-size:15px; font-family:Arimo; letter-spacing:1px; text-align:justify; margin-top:5px;}
.box2{ background-color:#fff; border-radius:3px; height:150px; padding:5px 10px; margin-top:20px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);}
.txt6{ color:#504d4d; font-size:14px; font-family:Arimo; letter-spacing:1px; text-align:justify; margin-top:5px;}
.txt7{ color:#000; font-size:24px; font-family:Arimo; font-weight:bold; letter-spacing:1px; text-align:center; margin-bottom:20px;}
.txt7 span{ font-size:36px;}
.greybg{ background-color:#f9f9f9; margin-top:20px; padding-bottom:50px; padding-top:10px;}
.topbg{background-color:#222a7b;}
.call{text-align:left; padding:5px 0;}
.call a{color:#fff; font-size:14px; font-family:Arimo; letter-spacing:1px;}
.call i{ color:#e9a400; margin-right:5px;}
.call a:hover{color:#e9a400;}
.txt8{ color:#000; font-size:33px; font-family:Arimo; font-weight:bold; letter-spacing:1px; text-align:center; margin-top:30px; margin-bottom:20px;}
.yellowbg{ background-color:#e9a400; margin-top:60px; padding-bottom:30px; padding-top:30px;}
.txt9{ color:#fff; font-size:33px; font-family:Arimo; font-weight:bold; letter-spacing:1px; text-align:center; margin-bottom:20px;}
.txt10{ color:#000; font-size:22px; font-family:Arimo; font-weight:bold; letter-spacing:1px; text-align:left; margin-bottom:5px;}
.txt11{ color:#333; font-size:14px; font-family:Arimo; letter-spacing:1px; text-align:left; line-height:2.2;}
.txt11 a{color:#333; font-size:18px;}
.txt12 i{ color:#e9a400; font-size:30px; margin-bottom:10px; text-align:left;}


/*----------------------------------------Footer-----------------------------------------*/
.footerbg{ background-color:#171717;}
.copytxt{color:#fff; font-size:14px; font-family:Arimo; letter-spacing:1px; text-align:center; padding-top:5px;}

/*----------------------------------------Media-----------------------------------------*/
@media all and (max-width: 767px)
{
	.call a{ font-size:11px;}
	.login{ margin:15px 0;}
	.txt2{ font-size:26px;}
	.box1{ height:150px;}
	.box2{ height:150px;}
	.txt8{ font-size:30px;}
	.animenu__nav > li > a{ color:#fff; text-align:left;}
	.animenu
{

	background-color:#000;
	width:100%;
}
}

@media all and (max-width: 1024px) and (min-width: 768px) 
{
	
}

@media all and (min-width: 768px)
{

}
