@font-face {
	font-family:Open Sans;
	src: url(../../font/OpenSans-Regular.ttf);
}
@font-face {
	font-family:Arimo;
	src: url(../../font/Arimo-Regular_0.ttf);
}

*, *:after, *:before
{
	box-sizing: border-box;
}

.animenu__toggle
{
	display: none;
	cursor: pointer;
	background-color: #111;
	border: 0;
	padding: 10px;
	height: 50px;
	width: 100%;
	color:#fff;
}
.animenu__toggle:hover
{
	background-color: #0186ba;
}

.animenu__toggle__bar
{
	display: block;
	width: 20px;
	height: 2px;
	background-color: #fff;
	transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
}
.animenu__toggle__bar + .animenu__toggle__bar
{
	margin-top: 4px;
}

.animenu__toggle--active .animenu__toggle__bar
{
	margin: 0;
	position: absolute;
}
.animenu__toggle--active .animenu__toggle__bar:nth-child(1)
{
	transform: rotate(45deg);
}
.animenu__toggle--active .animenu__toggle__bar:nth-child(2)
{
	opacity: 0;
}
.animenu__toggle--active .animenu__toggle__bar:nth-child(3)
{
	transform: rotate(-45deg);
}

.animenu
{
	display: block;
	float:right;
}
.animenu ul
{
	padding: 0px 0 0 0;
	list-style: none;
	font-family: Open Sans;
	color: #353434;
	font-size: 13px;
	letter-spacing: 1px;
	margin: 15px 0 0 0;
}
.animenu ul ul
{
	margin: 0px;
	padding: 0px;
	border-top: 2px solid #a2c022;
}
.animenu li, .animenu a
{
	display: inline-block;
}
.animenu__nav
{
}
.animenu__nav > li
{
	position: relative;
}
.animenu__nav > li > a
{
	padding: 15px 25px;
	color: #0e0e0e;
	font-size: 15px;
	font-weight:600;
	font-family:Arimo;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.animenu__nav > li:hover > ul, .animenu__nav > li:focus-within > ul
{
	opacity: 1;
	visibility: visible;
	margin: 0;
}
.animenu__nav > li:hover > a, .animenu__nav > li:focus-within > a
{
	color: #222a7b;

}
.animenu__nav__hasDropdown:before
{
	content: "";
	position: absolute;
	border: 4px solid transparent;
	border-bottom: 0;
	border-top-color: #787877;
	top: 50%;
	margin-top: -2px;
	right: 3px;
}

.animenu__nav__dropdown
{
	min-width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	margin: 20px 0 0 0;
	background-color: #373737;
	transition: margin .15s, opacity .15s;
}
.animenu__nav__dropdown > li
{
	width: 100%;
	border-bottom: 1px solid #515151;
}
.animenu__nav__dropdown > li:first-child > a:after
{
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	left: 1em;
	top: -6px;
	border: 6px solid transparent;
	border-top: 0;
	border-bottom-color: inherit;
}
.animenu__nav__dropdown > li:last-child
{
	border: 0;
}
.animenu__nav__dropdown a
{
	padding: 10px;
	width: 250px;
	border-color: #373737;
}
.animenu__nav__dropdown a:hover, .animenu__nav__dropdown a:focus-within
{
	background-color: #a2bf26;
	border-color: #a2bf26;
	color: #fff;
}

@media screen and (max-width: 767px)
{
	.animenu__toggle
	{
		display: inline-block;
	}

	.animenu__nav, .animenu__nav__dropdown
	{
		display: none;
	}

	.animenu__nav
	{
		margin: 10px 0;
	}
	.animenu__nav > li
	{
		width: 100%;
		border-right: 0;
		border-bottom: 1px solid #515151;
	}
	.animenu__nav > li:last-child
	{
		border: 0;
	}
	.animenu__nav > li:first-child > a:after
	{
		content: '';
		position: absolute;
		height: 0;
		width: 0;
		left: 1em;
		top: -6px;
		border: 6px solid transparent;
		border-top: 0;
		border-bottom-color: inherit;
	}
	.animenu__nav > li > a
	{
		width: 100%;
		padding: 10px;
		border-color: #fff;
		position: relative;
	}
	.animenu__nav a:hover
	{
		background-color: #0186ba;
		border-color: #0186ba;
		color: #fff;
	}

	.animenu__nav__dropdown
	{
		position: static;
		background-color: #373737;
		margin: 0;
		transition: none;
		visibility: visible;
		opacity: 1;
	}
	.animenu__nav__dropdown > li:first-child > a:after
	{
		content: none;
	}
	.animenu__nav__dropdown a
	{
		padding-left: 20px;
		width: 100%;
	}
}
.animenu__nav--open
{
	display: block !important;
}
.animenu__nav--open .animenu__nav__dropdown
{
	display: block;
}


/*-----------------------------------------*/



