﻿body
{
	margin: 0px;
	padding: 0px;
	font-family:Open Sans;
}

@font-face {
	font-family:'Altair-Bold';
	src: url('../font/Altair-Bold.eot'),
		 url('../font/Altair-Bold.woff') format('woff'), 
		 url('../font/Altair-Bold.ttf') format('truetype'), 
		 url('../font/Altair-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:Arimo;
	src: url(../font/Arimo-Regular_0.ttf);
}

/*-----------------------------------------Common Css-----------------------------------------*/
.space{ margin-top:10px;}
.space1{ margin-top:20px;}
.space2{ margin-top:30px;}
.space3{ margin-top:40px;}
.space4{ margin-top:50px;}
.width{ width:100%;}
.max{ max-width:100%;}
.left{ float:left;}
.right{ float:right;}
.display{ display:inline-block; width:100%;}
.padding{ padding:0px !important;}
.bottomspace{margin-bottom:10px;}
/*-----------------------------------------Login-----------------------------------------*/
.loginbg{background-image:url(../Images/loginbg.jpg); background-repeat:no-repeat; position:fixed; width:100%; height:662px;}
.mainshadow{margin-top:50px; padding:20px 20px; float:left; width:100%; background-color:Transparent; -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.47); -moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.47);box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.47);}
.mainshadow:hover{-webkit-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.65); -moz-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.65); box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.65);}
.logospace{margin-top:50px;}
.logintxt{font-family:Altair-Bold; font-size:33px; letter-spacing:2px; color:#fff; margin-bottom:20px;}
.companyname{font-family:Altair-Bold; font-size:14px; letter-spacing:1px; color:#fff;  width:89%; text-align:right; position:fixed; bottom:15px;}
.myicon{position:relative; top:-33px; right:10px; color:#e9a400; font-size:17px; float:right; border-left:1px solid #e9a400; padding-left:10px;}
.alerttxt{ color:#e9a400; letter-spacing:1px; text-align:center; font-size:13px; font-weight:bold; font-family:Arimo;}

/*-----------------------------------------Header-----------------------------------------*/
.headerbg{ background-color:#fff;}
.maintitle{font-family:Altair-Bold; font-size:24px; color:#fff; letter-spacing:1px; text-transform:uppercase;}
.yellowbg{background-color:#e9a400; padding-bottom:8px; padding-top:8px;}
.welcometxt{font-family:Arimo; color:#e9a400; font-size:14px; letter-spacing:1px; text-align:right; padding-top:4px;}
.wellabel{color:#000;}
.logout{ background-color:#e9a400; color:#fff; border:1px solid #ffb300; padding:6px 30px 5px 10px; border-radius:5px 5px 5px 5px; text-align:left;}
.logout a{color: #ffffff; font-family:Arimo; letter-spacing:1px; text-transform:capitalize;}
.logout:hover{background-color:#c78e06;}
.logicon{ color:#fff; font-size:14px; position:relative; right:22px;}

/*-----------------------------------------Inner Page-----------------------------------------*/
.boxshadow{ background-color:#fff; margin-top:0px; margin-bottom:0px; padding-top:10px; padding-bottom:30px; float:left; width:100%; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);}
.viewbtn{ margin-top:18px;  text-align:left;}
.viewbtn a{background-color:#222b7b;  padding:10px 10px; border-radius:5px; color: #ffffff !important; font-family:Arimo; letter-spacing:1px;}
.viewbtn a:hover{background-color:#09104d;}
.title{font-family:Altair-Bold; color:#000; font-size:24px; letter-spacing:1px; text-align:left; margin-top:10px; margin-bottom:10px;}
.username {display: inline-block; max-width: 100%; margin:1px 0;  text-align:left; color:#fff; letter-spacing:1px; font-size:14px;font-family:Arimo;  width:100%;}
.vbbtn{ color:#0000ff;  font-size:12px; border-right:1px solid #f0f0f3; letter-spacing:1px; font-family:Arimo; padding:5px 12px; }
.dwnbtn{ margin-top:18px; border:0px;  text-align:left; background-color:#222b7b;  padding:10px 40px; border-radius:5px; color: #ffffff !important; font-family:Arimo; letter-spacing:1px;}
.dwnbtn:hover{background-color:#09104d;}
.btnnxt{ background-color:#000; position:relative; top:24px; color:#fff; font-size:13px; letter-spacing:1px; font-family:Arimo; padding:3px 6px; border-radius:5px;}
.pagedrp{ display: block;  width: 100%; margin-top:22px;  height: 25px; padding: 2px 6px;  float:left; font-size: 13px; line-height: 2;  color: #757474;  background-color: #fff; border:1px solid #bdbaba; border-radius: 3px;}
.showtxt{font-family:Arimo; color:#333; font-size:16px; letter-spacing:1px; text-align:left;}
.divdiv{text-align:left;}
.divdiv ul{ margin:0px; padding:0px; list-style:none; line-height:2.2;}
.divdiv ul li{font-family:Arimo; color:#333; font-size:13px; letter-spacing:1px;}
.divdiv ul ul{ margin:0px; padding:0px 0 0 35px; list-style:none; line-height:2;}
.ortxt{ padding:10px 0; margin:10px 0 25px 0; border-bottom:1px solid #ddd; border-top:1px solid #ddd; text-align:center; font-family:Altair-Bold; color:#000; font-size:18px; letter-spacing:1px;}
.greenbtn{ margin-top:18px; border:0px;  text-align:left; background-color:#1e822e;  padding:10px 40px; border-radius:5px; color: #ffffff !important; font-family:Arimo; letter-spacing:1px;}
.greenbtn:hover{background-color:#0d4616;}
.mydivider{ border-bottom:2px dashed #ddd; margin-top:40px; margin-bottom:20px;}
.radiolist{ display:inline-block; width:100%; margin-top:10px;}
.form-txt{  color:#333; font-size:14px; font-family:Arimo; letter-spacing:1px;  width:100%; border-radius:1px;}
.form-txt-bg{background-color:#f2f5f3; padding:5px 10px;}


/*-----------------------------------------Footer-----------------------------------------*/
.footrbg{background-color: #e9a400; padding-top:8px; padding-bottom:8px;}
.footertxt{color:#ffffff; font-family:Altair-Bold; font-size:14px; letter-spacing:1px; text-align: center; padding-right:10px;}



/*-----------------------------------Loading------------------------*/
.loading {
    box-shadow: 0px 0px 8px 8px #555555;
    border-radius: 10px;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 214px;
    height: 138px;
    margin: -69px 0 0 -107px;
    z-index: 1;
}
