﻿@font-face {
	font-family:'Altair-Bold';
	src: url('../font/Altair-Bold.eot'),
		 url('../font/Altair-Bold.woff') format('woff'), 
		 url('../font/Altair-Bold.ttf') format('truetype'), 
		 url('../font/Altair-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:Arimo;
	src: url(../font/Arimo-Regular_0.ttf);
}
.log { font-family:Calibri, Arial; color:#0066aa; line-height:30px; height:60px; border-right:solid 0px #336699; border-left:solid 0px #336699; border-bottom:solid 0px #336699; border-radius: 0px 0 0 0px; background-color:#eeeeee; background:linear-gradient(#dddddd,#ffffff,#dddddd); }
.box { width:400px; text-align: center; padding: 0 0 20px 0; border: solid 1px #999999; border-radius:0px; background-color:#eeeeee; background:linear-gradient(#dddddd,#ffffff,#dddddd); margin:auto; }
.sptext{padding:5px 2px; font-size:14px;}




.menu { font-family: Calibri, Arial; border-radius:4px; font-size:14px; background-color:#ffffff; border: solid 1px #B7B7B7; padding:0px; margin:0px;  }
.menu li { background-color:#f0f0f0; border-bottom:solid 1px #f0f0f0; border-radius:3px; list-style:none; margin:0px; }
.menu li:hover { background-color:#fafafa; border-bottom:solid 1px #ffdd00; }
.menu .th { padding:5px; background-color:#2266BB; color:#ffffff; font-weight:bold; border-radius:3px; text-align:center; }
.menu .th:hover { background-color:#1155AA; }
.menu .th a { color: #61A1E1; text-decoration:none; }
.menu .th a:hover { color: #61E1A1; }
.menu a { padding:8px; color: #003399; text-decoration:none; line-height: 30px; }
.menu a:hover { color: #009933; }


.tablelist { font-family: Calibri, Arial; border-radius:4px; font-size:14px; background-color:#ffffff; font-size:14px; border: solid 1px #B7B7B7; }
.AltColor1list{ padding:3px; background-color:#f0f0f0; color:#000000; border-radius:3px; }
.AltColor2list{ padding:3px; background-color:#e0e0e0; color:#000000; border-radius:3px; }
.AltColor1list a, .AltColor2list a { color: #2266bb; text-decoration:none; }
.AltColor1list a:hover, .AltColor2list a:hover { color: #22bb66; }
.tablelist .TableHead{ padding:5px; background-color:#2161B1; color:#ffffff; font-weight:bold; border-radius:3px; text-align:center; line-height:24px;}
.tablelist a { color: #3333ff; }
.tablelist a:hover { color: #336633;}
.Head { font-family: Calibri, Arial; border-radius:4px; font-size:16px; background-color:#2161B1; color:#ffffff; font-size:16px; border: solid 1px #B7B7B7; }
.graybox { border-radius:4px; border: solid 1px #B7B7B7; padding:2px;  }


.popup { border:solid 2px #ffffff; padding: 0px; box-shadow: 0px 0px 80px 8px #555555; border-radius:3px; background-color:#ffffff; max-width:90%; max-height:90%; overflow:auto; }

.text{ font-size:14px; padding:2px 2px; width:95%; border-radius:0px; border-width:thin; border-color:#79B759; font-family: Calibri, Arial;}
.textf { font-size:14px; padding:2px 2px; width:80%; border-radius:0px; border-width:thin; border-color:#79B759; font-family: Calibri, Arial;}

.bold { font-weight:bold; }
.red { color:#CC2222; }
.blue { color:#4444AA; }
.green { color:#44AA44; }
.white { color:#ffffff; }

.button { background-color:#e9a400; border:0px; color:#fff; font-family:Arimo; letter-spacing:1px; padding:5px 15px; text-align:left; border-radius:5px; margin-top:15px;}
.button:hover{ background-color:#c78e06;}
.button1 { background-color:#e9a400; border:0px; color:#fff; font-family:Arimo; letter-spacing:1px; padding:5px 15px; text-align:left; border-radius:5px; margin-top:28px;}
.button1:hover{ background-color:#c78e06;}


.buttons, .buttonsp{ padding:5px 12px; font-size:14px; font-family: Calibri, Arial; text-decoration: none; border:none; cursor:pointer; border-radius:6px; font-weight:normal; min-width:80px;}
.buttons{  background-color:#e9a400; border:1px solid #ffb300; padding:6px 30px 5px 10px; border-radius:0 0 5px 5px; text-align:left;}
.buttons a {color: #ffffff; font-family:Arimo; letter-spacing:1px; text-transform:capitalize;}
.buttonsp{ background-color:#ffcc00; color:#000000; border:solid 1px #dd9900; box-shadow:inset 0px -12px 0px 0px #ffaa00;}
.buttonsp a, .buttonsp a:hover { color: #000000; }
.dwnload{font-family:Arimo; font-size:16px; font-weight:bold; letter-spacing:1px; color:#c00b0b;}
.strip { margin: 10px 0px; padding: 10px; background-color:#eeeeee; border:solid 1px #dddddd; } /*ffdd33*/
/*-------------------------Calender----------------------------*/
.cal { background-color:#fff; border-radius:0px 0 5px 5px; border:solid 1px #ddd; width:90%;}
.cal .ajax__calendar_container { width:99%; height:230px;}
.cal .ajax__calendar_header { background-color:#222b7b; color:#ffffff; border-radius:2px; height:40px; padding:10px 5px 0 5px; }
.cal .ajax__calendar_body {height:165px; }
.ajax__calendar_body{ width:100%;}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years{ width:100%;}
.ajax__calendar_title{font-family:Arimo; font-size:16px; font-weight:bold; letter-spacing:1px;  color:#fff; text-align:center;}
.cal .ajax__calendar_footer { }
.cal .ajax__calendar_dayname {font-family:Arimo; font-size:14px; font-weight:bold; letter-spacing:1px; padding:3px 8px; text-decoration:underline;}
.cal .ajax__calendar_other { color:#000000; background-color:#ffffff; font-weight:normal;}
.cal .ajax__calendar_today { background-color:#e9a400; color:#000; height:20px; font-weight:bold; border-radius:2px;}
.cal .ajax__calendar_day { font-family:Arimo; font-size:13px; letter-spacing:1px;  color:#333; text-align:right; margin-top:5px; margin-left:5px; vertical-align:middle;}
.cal .ajax__calendar_next, .cal .ajax__calendar_prev { background-color:#eeeeff; border:solid 2px #666666; border-radius:50%; }
.cal .ajax__calendar_hover { background-color:#bbbbff; border-radius:2px;}
.cal .ajax__calendar_active { background-color:#cdcdff; font-weight:bold; border-radius:2px; }
.cal table tr td {padding:1px;}
.ajax__calendar_container TABLE{ width:100%; text-align:center;}
/*=--------------------Calender 2 -------------------------------------*/
.cal2 { background-color:#fff; border-radius:0px 0 5px 5px; border:solid 1px #ddd; width:35% !important;}
.cal2 .ajax__calendar_container { width:99%; height:230px;}
.cal2 .ajax__calendar_header { background-color:#222b7b; color:#ffffff; border-radius:2px; height:40px; padding:10px 5px 0 5px; }
.cal2 .ajax__calendar_body {height:165px; }
.ajax__calendar_body{ width:100%;}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years{ width:100%;}
.ajax__calendar_title{font-family:Arimo; font-size:16px; font-weight:bold; letter-spacing:1px;  color:#fff; text-align:center;}
.cal2 .ajax__calendar_footer { }
.cal2 .ajax__calendar_dayname {font-family:Arimo; font-size:14px; font-weight:bold; letter-spacing:1px; padding:3px 8px; text-decoration:underline;}
.cal2 .ajax__calendar_other { color:#000000; background-color:#ffffff; font-weight:normal;}
.cal2 .ajax__calendar_today { background-color:#e9a400; color:#000; height:20px; font-weight:bold; border-radius:2px;}
.cal2 .ajax__calendar_day { font-family:Arimo; font-size:13px; letter-spacing:1px;  color:#333; text-align:right; margin-top:5px; margin-left:5px; vertical-align:middle;}
.cal2 .ajax__calendar_next, .cal2 .ajax__calendar_prev { background-color:#eeeeff; border:solid 2px #666666; border-radius:50%; }
.cal2 .ajax__calendar_hover { background-color:#bbbbff; border-radius:2px;}
.cal2 .ajax__calendar_active { background-color:#cdcdff; font-weight:bold; border-radius:2px; }
.cal2 table tr td {padding:1px;}
.ajax__calendar_container TABLE{ width:100%; text-align:center;}


/*-------------------------------------------------------------*/

/*----------------------Header-Menu----------------------------*/
.top_menu { float:right !important;  margin-top:15px; margin-right:17px;}
.top_menu ul { margin:0px; list-style:none; float:right; width:auto;}
.top_menu ul li	{padding:10px 20px; float:right; }
.top_menu ul li:hover{ background-color:#e9a400; border-radius:3px 3px 0 0; }
.top_menu ul li a{ color:#0274b3; text-decoration:none;font-weight:600; font-family:Arimo; font-size:14px; letter-spacing:1px;}
.top_menu ul li.item { text-align:center;  padding:11px 7px;}
.top_menu ul{float:right;width:100%;margin:0px;padding:0px;}
.top_menu ul > li{float:left;width:auto;margin:0px;padding:0 3px 0px 2px;list-style-type:none;display:inline;}
.top_menu ul > li a{ text-decoration:none; width:auto;}
.top_menu ul > li a span { color:#45535e; text-decoration:none; float:left; width:auto; line-height:36px; cursor:pointer; font-size:14px; font-family:Calibri, Arial, Helvetica, sans-serif; text-transform:uppercase; font-weight:bold;}
.top_menu ul > li a span img { margin:0; padding:0 0 0 14px; position:absolute; top:15px; right:-20px;}
.top_menu ul > li.last{background:none;}
.top_menu ul > li a:hover,.top_menu ul > li:hover a,.top_menu ul > li a:hover {color:#ffffff; text-decoration:none; border-bottom:0px solid #dddddd;}
.top_menu ul > li a:hover span,.top_menu ul > li:hover a span,.top_menu ul > li a:hover span{color:#3c5e9f;text-decoration:none;}
.top_menu ul > li.parent a:hover,.top_menu ul > li.parent:hover a{ color:#ffffff; text-decoration:none; position:relative; z-index:999; border-bottom:0px solid #dddddd;}
.top_menu ul > li.parent a:hover span,.top_menu ul > li.parent:hover a span{background:url(../images/menu-sub-hover.png) no-repeat left top;color:#3c5e9f;text-decoration:none;padding-bottom:6px;}
.top_menu li{position:relative;}
.top_menu ul > li.parent div.submenu-dv { position:absolute; top:34px; left:2px; display:none; padding:6px 0 0; margin:0; margin-left: -78px; width:200px; background:url(../images/arrow-menu-hover2.png) no-repeat center top;}
.top_menu ul > li.parent div.submenu_dv_outer { float:left; background:#fff; padding:0; width:200px; border-bottom-width:0px;}
.top_menu ul > li.parent div.submenu-dv ul { padding:0; margin:0; float:left; width:200px;}
.top_menu ul ul > li{ float:left; width:174px; margin:0px; padding:7px 5px; display:block; border:none; border-bottom:0px solid #f6f6f5;}
.top_menu ul li.parent div.submenu-dv div.submenu-dv{top:0;left:200px; background:none; }
div.top_menu li:hover{cursor:pointer;z-index:100;}
.top_menu ul > li:hover ul > li,.top_menu ul li.hover ul > li:hover{margin:0px;}
.top_menu ul > li:hover ul > li,.top_menu ul li:hover ul > li:hover,.top_menu ul ul > li { float:left; width:100%; margin:0; padding:0;}
.top_menu ul > li:hover ul > li.last,.top_menu ul li:hover ul > li.last:hover,.top_menu ul ul > li.last { float:left; width:100%; margin:0px; padding:0; background:none;}
.top_menu ul > li.parent div.submenu-dv ul > li a:hover,.top_menu ul li.parent div.submenu-dv ul > li a{ border-bottom:1px solid #ebebeb; background:none; color:#333; font-size:16px; line-height:25px;height:auto;text-align:left;float:left;margin:0px;padding:0;width:100%;}
.top_menu ul > li.parent div.submenu-dv ul > li.parent a:hover,.top_menu ul > li.parent div.submenu-dv ul > li.parent a{background:url(../images/submenu-arrow.png) 165px 12px no-repeat;}
.top_menu ul > li.parent div.submenu-dv ul > li a:hover span,.top_menu ul > li.parent div.submenu-dv ul > li a span{ color:#565656; font-size:15px; font-family: calibri, Calibri, Arial, Helvetica, sans-serif; line-height:29px;padding:0 0 0 10px; font-weight:normal; text-transform:none;}
.top_menu ul > li.parent div.submenu-dv ul > li a:hover span { color:#fff; font-size:15px; font-family:calibri, Calibri, Arial, Helvetica, sans-serif;}
.top_menu ul > li.parent div.submenu-dv ul > li:hover a:hover,.top_menu ul > li.parent div.submenu-dv ul > li a:hover{border-bottom:1px solid #fff; color:#fff; text-decoration:none;border:none;padding:0; background:#e9a400;}
.top_menu ul > li.parent div.submenu-dv ul > li.parent a:hover,
.top_menu ul > li.parent div.submenu-dv ul > li.parent:hover a{ }
.top_menu ul > li.parent div.submenu-dv ul > li div.submenu-dv ul > li a:hover,.top_menu ul > li.parent div.submenu-dv ul > li:hover div.submenu-dv ul > li a{background:none;}
.top_menu ul > li.parent div.submenu-dv ul > li div.submenu-dv ul li:hover a:hover,.top_menu ul li.parent div.submenu-dv ul > li div.submenu-dv ul > li a:hover{background:#096ea9;}
div.top_menu li:hover ul div.submenu-dv,div.top_menu li li:hover ul div.submenu-dv,div.top_menu li li li:hover ul div.submenu-dv,div.top_menu li li li li:hover ul div.submenu-dv,div.top_menu li li li li ul div.submenu-dv,div.top_menu li li li div.submenu-dv { display:none;}
div.top_menu li:hover div.submenu-dv,
div.top_menu li li:hover div.submenu-dv,
div.top_menu li li li:hover div.submenu-dv,
div.top_menu li li li li:hover div.submenu-dv,
div.top_menu li li li li.hover div.submenu-dv,
div.top_menu li:hover li:hover li:hover div.submenu-dv { display:block;}
.menu ul{float:left;width:960px;list-style:none;font-family:Verdana, Geneva, sans-serif;}
.top_menu ul.menu {float:right; width:600px; padding:0; background:url(../images/top_menu-bg-middl.png) repeat-x 0 0; height:36px;}
.top_menu ul.menu > li a { font-size:16px; color:#2d3b56; font-family:Calibri, Arial, Helvetica, sans-serif; line-height:37px; padding:0 5px;}
.top_menu ul.menu > li.parent a { padding:0;}
.top_menu ul.menu > li { margin:0 80px 0 0; padding:0;}
.top_menu ul.menu > li.last { margin:0; padding:0;}
.top_menu .menu>ul>li{float:left;width:auto;line-height:27px;padding:0 30px 0 0;}
.top_menu .menu>ul>li> a{color:#fff;font-size:13px;line-height:27px;text-decoration:none;}
.top_menu .menu>ul>li> a:hover{color:#3C5E9F;}
.top_menu .menu>ul>li.last{padding:0;}
.top_menu ul.menu > li.selected a span { color:#3C5E9F;}
.top_menu ul > li.parent div.submenu-dv ul > li.parent img { float:right; margin:12px 10px 0 0;}

/*----------------------------------------------------------------*/

/*----------------------------------------------------------------*/
.specialtext * { padding:0px !important; margin:0px !important; font-family:Calibri, Arial !important;}
.specialtext p { padding:10px 5px !important;}
.specialtext ul { padding:10px 5px !important;}
.specialtext li { padding:0 0 0 10px !important;}
.specialtext h1,.specialtext h2,.specialtext h3,.specialtext h4,.specialtext h5,.specialtext h6 {color:#4444ff !important;}
.specialtext h1,.specialtext h2,.specialtext h3{ padding:4px 2px !important;}
.specialtext h4,.specialtext h5,.specialtext h6 { padding:4px 2px !important;}
.specialtext table {font-family:Calibri !important; font-size:14px !important; background-color:#ffffff !important; border:none !important; border-spacing: 2px !important; border-width:0px !important; max-width:100% !important;}
.specialtext table tr {line-height:20px !important;}
.specialtext table tr td {background-color:#ddddff !important; color:#000000; padding:3px 4px !important; border:solid 1px #bbbbdd !important;}
.specialtext table tr td * {background-color:#ddddff !important;}
.specialtext table tr:nth-child(even) td {background-color:#eeeeff !important;}
.specialtext table tr:nth-child(even) td * {background-color:#eeeeff !important;}
.specialtext table tr td p { padding:0px !important;}
 /*----------------------------------------------------------------*/
 
 .loading { box-shadow: 0px 0px 8px 8px #555555; border-radius:10px; background-color:#ffffff; position:fixed ; top:50%; left:50%; width:214px; height:138px; margin:0 0 0 0; }
 .iframe { width:100%; min-height:700px; overflow:auto; border:none; }
 
.star-y { float:left; background-image:url('../images/star-y.png'); }
.star-n { float:left; background-image:url('../images/star-n.png'); }
.wh30 { width:30px; height:30px;  }

.try td { background-color:#ccffcc !important; }
.trn td { background-color:#ffcccc !important; }
.trp td { background-color:#ffffcc !important; }

.tdy { background-color:#0d4616 !important;  }
.tdy a{color:#fff !important;}
.tdn { background-color:#ff3333 !important; background:linear-gradient(#ff3333,#ff5555,#ff3333); }

.tdy td { background-color:#ffcc66 !important;}
.tdn td { background-color:#ff3366 !important;}

.red { color: #f60b0b; }

.cb { border-radius:50%; border:solid 1px #aaaaaa; }

.fix200 { max-height:200px; max-width:200px; }

.likebtn { border: solid 1px #aaaaaa; padding: 2px 10px; border-radius: 5px; background-color: #fff; font-weight:bold; display: inline; }

.bluebg, .orangebg { padding: 10px; font-family: Calibri, Arial; font-size:20px;  }
.bluebg { background-color: #ccddff; border:solid 1px #bbccee;}
.orangebg { background-color: #ffeeaa; border:solid 1px #eedd99; }
 
 