﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="footer.ascx.vb" Inherits="footer" %>
<link href="Css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="Css/css.css" rel="stylesheet" type="text/css" />
<div class="container-fluid footrbg">
    <div align="center" class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="footertxt">
                By innOvator Web Solutions</div>
        </div>
    </div>
</div>
